<?xml version="1.0"?>
<config>
    <modules>
        <Ant_Messagecardsupport>
            <version>0.1.0</version>
        </Ant_Messagecardsupport>
    </modules>
    <global>
        <helpers>
            <messagecardsupport>
                <class>Ant_Messagecardsupport_Helper</class>
            </messagecardsupport>
        </helpers>
        <models>
            <messagecardsupport>
                <class>Ant_Messagecardsupport_Model</class>
                <resourceModel>messagecardsupport_mysql4</resourceModel>
            </messagecardsupport>
            <messagecardsupport_mysql4>
                <class>Ant_Messagecardsupport_Model_Mysql4</class>
                <entities>
                    <modelname>
                        <table>tablename</table>
                    </modelname>
                </entities>
            </messagecardsupport_mysql4>
            <sales>
                <rewrite>
                    <order_pdf_shipment>Ant_Messagecardsupport_Model_Order_Pdf_Shipment</order_pdf_shipment>
                    <!--<order_pdf_abstract>Ant_Messagecardsupport_Model_Order_Pdf_Abstract</order_pdf_abstract>-->
                </rewrite>
            </sales>
        </models>
        <resources>
            <messagecardsupport_setup>
                <setup>
                    <module>Ant_Messagecardsupport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </messagecardsupport_setup>
            <messagecardsupport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </messagecardsupport_write>
            <messagecardsupport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </messagecardsupport_read>
        </resources>
    </global>
</config> 