<?xml version="1.0"?>
<config>
  <modules>
    <Ant_Fbintegration>
      <version>0.1.0</version>
    </Ant_Fbintegration>
  </modules>
  <frontend>
    <routers>
      <fbintegration>
        <use>standard</use>
          <args>
            <module>Ant_Fbintegration</module>
            <frontName>fbintegration</frontName>
          </args>
      </fbintegration>
    </routers>
	<layout>
      <updates>
        <fbintegration>
          <file>fbintegration.xml</file>
        </fbintegration>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <fbintegration>
        <class>Ant_Fbintegration_Helper</class>
      </fbintegration>
    </helpers>
	<blocks>
	  <fbintegration>
		<class>Ant_Fbintegration_Block</class>
	  </fbintegration>
	</blocks>
	<models>
	  <fbintegration>
		<class>Ant_Fbintegration_Model</class>
		<resourceModel>fbintegration_mysql4</resourceModel>
	  </fbintegration>
	  <fbintegration_mysql4>
		<class>Ant_Fbintegration_Model_Mysql4</class>
		<entities>
		  <contact>
			<table>contact</table>
		  </contact>
        </entities>
	  </fbintegration_mysql4>
	</models>
	<resources>
	  <fbintegration_setup>
		<setup>
		  <module>Ant_Fbintegration</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </fbintegration_setup>
	  <fbintegration_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </fbintegration_write>
	  <fbintegration_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </fbintegration_read>
	</resources>
  </global>
</config> 