<?xml version="1.0"?>
<config>
    <modules>
        <Ant_Reminder>
            <version>0.1.0</version>
        </Ant_Reminder>
    </modules>
    <frontend>
        <routers>
            <reminder>
                <use>standard</use>
                <args>
                    <module>Ant_Reminder</module>
                    <frontName>reminder</frontName>
                </args>
            </reminder>
        </routers>
        <layout>
            <updates>
                <reminder>
                    <file>reminder.xml</file>
                </reminder>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <reminder>
                <class>Ant_Reminder_Helper</class>
            </reminder>
        </helpers>
        <blocks>
            <reminder>
                <class>Ant_Reminder_Block</class>
            </reminder>
        </blocks>
        <models>
            <reminder>
                <class>Ant_Reminder_Model</class>
                <resourceModel>reminder_mysql4</resourceModel>
            </reminder>
            <reminder_mysql4>
                <class>Ant_Reminder_Model_Mysql4</class>
                <entities>
                    <reminder>
                        <table>ant_reminder</table>
                    </reminder>
                    <notification>
                        <table>ant_notification</table>
                    </notification>
                    <gift>
                        <table>ant_gift</table>
                    </gift>
                </entities>
            </reminder_mysql4>
        </models>
        <resources>
            <reminder_setup>
                <setup>
                    <module>Ant_Reminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reminder_setup>
            <reminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reminder_write>
            <reminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reminder_read>
        </resources>
    </global>
    <admin>
        <routers>
            <reminder>
                <use>admin</use>
                <args>
                    <module>Ant_Reminder</module>
                    <frontName>reminder</frontName>
                </args>
            </reminder>
        </routers>
    </admin>    
    <crontab>
        <jobs>            
            <reminder_reminderaction>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>reminder/cron::reminderAction</model>
                </run>
            </reminder_reminderaction>
        </jobs>
    </crontab>
</config> 