<?xml version="1.0"?>
<config>
	<modules>
        <SS_Extrastyle>
            <version>0.1.0</version>
        </SS_Extrastyle>
    </modules>
    <frontend>
        <layout>
            <updates>
                <extrastyle>
                    <file>ss/extrastyle.xml</file>
                </extrastyle>
            </updates>
        </layout>
    </frontend>	
</config>