<?xml version="1.0"?>
<config>
    <modules>
        <Ant_Erpsupport>
            <version>0.1.0</version>
        </Ant_Erpsupport>
    </modules>
    <global>
        <helpers>
            <erpsupport>
                <class>Ant_Erpsupport_Helper</class>
            </erpsupport>
        </helpers>
        <models>
            <erpsupport>
                <class>Ant_Erpsupport_Model</class>
                <resourceModel>erpsupport_mysql4</resourceModel>
            </erpsupport>
        </models>
        <events>
            <product_supplier_add> <!-- identifier of the event we want to catch -->
                <observers>
                    <product_supplier_add_handler> <!-- identifier of the event handler -->
                        <type>model</type> <!-- class method call type; valid are model, object and singleton -->
                        <class>erpsupport/observer</class> <!-- observers class alias -->
                        <method>product_supplier_add</method>  <!-- observer's method to be called -->
                        <args></args> <!-- additional arguments passed to observer -->
                    </product_supplier_add_handler>
                </observers>
            </product_supplier_add>
            <product_supplier_sub> <!-- identifier of the event we want to catch -->
                <observers>
                    <product_supplier_sub_handler> <!-- identifier of the event handler -->
                        <type>model</type> <!-- class method call type; valid are model, object and singleton -->
                        <class>erpsupport/observer</class> <!-- observers class alias -->
                        <method>product_supplier_sub</method>  <!-- observer's method to be called -->
                        <args></args> <!-- additional arguments passed to observer -->
                    </product_supplier_sub_handler>
                </observers>
            </product_supplier_sub>
        </events>
        <resources>
            <categoryattribute1347936819_setup>
                <setup>
                    <module>Ant_Erpsupport</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryattribute1347936819_setup>
            <categoryattribute1347936819_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryattribute1347936819_write>
            <categoryattribute1347936819_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryattribute1347936819_read>
        </resources>
    </global>
</config> 