<?xml version="1.0"?>
<config>
	<modules>
		<Robbie_Bundleoption>
			<version>1.0.0.5</version>
		</Robbie_Bundleoption>
	</modules>
	<global>
		<models>
			<bundleoption>
				<class>Robbie_Bundleoption_Model</class>
			</bundleoption>
		</models>
		<blocks>
			<bundleoption>
				<class>Robbie_Bundleoption_Block</class>
			</bundleoption>
		</blocks>
		<helpers>
			<bundleoption>
				<class>Robbie_Bundleoption_Helper</class>
			</bundleoption>
		</helpers>		
	</global>
	<frontend>
        <layout>
            <updates>
                <bundleoption>
                    <file>robbiebundle.xml</file>
                </bundleoption>
            </updates>
        </layout>
        <routers>
        	<bundleoption>
        		<use>standard</use>
        		<args>
        			<module>Robbie_Bundleoption</module>
        			<frontName>robbie</frontName>
        		</args>
        	</bundleoption>
        </routers>        
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<bundleoption_section_one translate="title" module="bundleoption">
											<title>Robbie Bundle Options</title>
											<sort_order>200</sort_order>	
										</bundleoption_section_one>
								</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>	
        <layout>
            <updates>
                <debug>
                    <file>robbiebundle.xml</file>
                </debug>
            </updates>
        </layout>    	
	</adminhtml>
	<frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <bundleoption after="Mage_Catalog">Robbie_Bundleoption</bundleoption>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>		
</config>