<?xml version="1.0"?>
<config>
  <modules>
    <Ant_HHonorOrder>
      <version>0.1.0</version>
    </Ant_HHonorOrder>
  </modules>
  <global>
    <helpers>
      <hhonororder>
        <class>Ant_HHonorOrder_Helper</class>
      </hhonororder>
    </helpers>
	<models>
	  <hhonororder>
		<class>Ant_HHonorOrder_Model</class>
		<resourceModel>hhonororder_mysql4</resourceModel>
	  </hhonororder>
	</models>
	<resources>
	  <salesattribute1373604289_setup>
		<setup>
		  <module>Ant_HHonorOrder</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1373604289_setup>
	  <salesattribute1373604289_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1373604289_write>
	  <salesattribute1373604289_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1373604289_read>
	</resources>
  </global>
</config> 