<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ant_Advancemessage>
            <version>0.1.0</version>
        </Ant_Advancemessage>
    </modules>
    <frontend>
        <routers>
            <advancemessage>
                <use>standard</use>
                <args>
                    <module>Ant_Advancemessage</module>
                    <frontName>advancemessage</frontName>
                </args>
            </advancemessage>
        </routers>
    </frontend>
    <global>
        <models>
            <advancemessage>
                <class>Ant_Advancemessage_Model</class>
            </advancemessage>
        </models>
        <blocks>
            <advancemessage>
                <class>Ant_Advancemessage_Block</class>
            </advancemessage>
        </blocks>
        <resources>
            <advancemessage_setup>
                <setup>
                    <module>Ant_Advancemessage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancemessage_setup>
            <advancemessage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancemessage_write>
            <advancemessage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancemessage_read>
        </resources>
    </global>
    <default>
        <mageworx_sales>
            <advancemessage_settings>
                <enable>0</enable>
                <orientation>landscape</orientation>
                <size>A5</size>
                <left>3</left>
                <right>3</right>
                <top>3</top>
                <bottom>3</bottom>
                <custom_size>0</custom_size>
            </advancemessage_settings>
            <advancemessage_settings_2>
                <enable>0</enable>
                <orientation>landscape</orientation>
                <size>A5</size>
                <left>3</left>
                <right>3</right>
                <top>3</top>
                <bottom>3</bottom>
                <custom_size>0</custom_size>
            </advancemessage_settings_2>
            <advancemessage_settings_3>
                <enable>0</enable>
                <orientation>landscape</orientation>
                <size>A5</size>
                <left>3</left>
                <right>3</right>
                <top>3</top>
                <bottom>3</bottom>
                <custom_size>0</custom_size>
            </advancemessage_settings_3>
        </mageworx_sales>
    </default>
</config>