<?xml version="1.0"?>
<config>
  <modules>
    <Ant_DraftOrders>
      <version>0.1.0</version>
    </Ant_DraftOrders>
  </modules>
  <global>
    <models>
      <ant_draftorders>
        <class>Ant_DraftOrders_Model</class>
        <resourceModel>ant_draftorders_resource</resourceModel>
      </ant_draftorders>
    </models>
    <resources>
      <draftorders_setup>
	    <setup>
		  <module>Ant_DraftOrder</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </draftorders_setup>
	  <draftorders_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </draftorders_write>
	  <draftorders_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </draftorders_read>
	</resources>
    <blocks>
      <ant_draftorders>
        <class>Ant_DraftOrders_Block</class>
      </ant_draftorders>
    </blocks>
    <helpers>
      <ant_draftorders>
        <class>Ant_DraftOrders_Helper</class>
      </ant_draftorders>
    </helpers>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <ant_draftorders before="Mage_Adminhtml">Ant_DraftOrders_Adminhtml</ant_draftorders>
          </modules>
        </args>
       </adminhtml>
    </routers>
  </admin>
</config> 