<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ant_Citibank>
            <version>0.1.0</version>
        </Ant_Citibank>
    </modules>
    <frontend>
        <routers>
            <citibank>
                <use>standard</use>
                <args>
                    <module>Ant_Citibank</module>
                    <frontName>citibank</frontName>
                </args>
            </citibank>
        </routers>       
        <layout>
            <updates>
                <citibank>
                    <file>citibank.xml</file>
                </citibank>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <citibank>
                <class>Ant_Citibank_Model</class>
            </citibank>
        </models>
        <blocks>
            <citibank>
                <class>Ant_Citibank_Block</class>
            </citibank>
        </blocks>
        <resources>
            <citibank_setup>
                <setup>
                    <module>Ant_Citibank</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </citibank_setup>
            <citibank_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </citibank_write>
            <citibank_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </citibank_read>
        </resources>
    </global>
    <default>
        <payment>
            <citibank>
                <active>0</active>
                <model>citibank/paymentLogic</model>
                <order_status>pending</order_status>
                <title>Credit Card</title>
                <api_key>1234</api_key>
                <api_secret>1234</api_secret>
                <cctypes>AE,VI,MC,DI,SS</cctypes>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </citibank>
        </payment>
    </default>
</config>