<?xml version="1.0"?>
<config>
    <modules>
        <Ant_Signup>
            <version>0.1.0</version>
        </Ant_Signup>
    </modules>
    <frontend>
        <routers>
            <signup>
                <use>standard</use>
                <args>
                    <module>Ant_Signup</module>
                    <frontName>signup</frontName>
                </args>
            </signup>
        </routers>
        <layout>
            <updates>
                <signup>
                    <file>signup.xml</file>
                </signup>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <signup>
                <class>Ant_Signup_Helper</class>
            </signup>
        </helpers>
        <blocks>
            <signup>
                <class>Ant_Signup_Block</class>
            </signup>
        </blocks>
    </global>
</config> 