<?xml version="1.0"?>
<config>
    <modules>
        <Ant_HHonors>
            <version>0.1.0</version>    <!-- Version of module -->
        </Ant_HHonors>
    </modules>
    <frontend>
        <routers>
            <hhonors>
                <use>standard</use>
                <args>
                    <module>Ant_HHonors</module>
                    <frontName>hhonors_action</frontName>
                </args>
            </hhonors>
        </routers>
        <layout>
            <updates>
                <hhonors>
                    <file>hhonors.xml</file>
                </hhonors>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
	  <hhonors>
		<class>Ant_HHonors_Model</class>
		<resourceModel>hhonors_mysql4</resourceModel>
	  </hhonors>
	</models>
	<resources>
	  <customerattribute_setup>
		<setup>
		  <module>Ant_HHonors</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute_setup>
	  <customerattribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute_write>
	  <customerattribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute_read>
	</resources>
    </global>
</config>