<?xml version="1.0"?>
<config>
    <modules>
        <Egrove_Amex>
            <version>1.0.0</version>
	</Egrove_Amex>
    </modules>
    <frontend>
        <routers>
            <amex>
                <use>standard</use>
                <args>
                    <module>Egrove_Amex</module>
                    <frontName>amex</frontName>
                </args>
	    </amex>
        </routers>
        <layout>
            <updates>
                <amex>
                    <file>amex.xml</file>
		</amex>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<amex>
				<use>admin</use>
				<args>
					<module>Egrove_Amex</module>
					<frontName>amex</frontName>
				</args>
			</amex>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<amex module="amex">
				<title>Amex</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="amex">
						<title>Amex Response Log</title>
						<sort_order>10</sort_order>
						<action>amex/adminhtml_amexdata</action>
					</items>
				</children>
			</amex>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Egrove_Amex>
							<title>Amex Module</title>
							<sort_order>10</sort_order>
						</Egrove_Amex>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<amex>
					<file>amex.xml</file>
				</amex>
			</updates>
		</layout>
    </adminhtml>
    <global>
    	<models>
            <amex>
                <class>Egrove_Amex_Model</class>
		<resourceModel>amex_mysql4</resourceModel>
	    </amex>
	    <amex_mysql4>
                <class>Egrove_Amex_Model_Mysql4</class>
                <entities>
                    <amexdata>
                        <table>amexdata</table>
                    </amexdata>
		    </entities>
	    </amex_mysql4>
        </models>
	<resources>
            <amex_setup>
                <setup>
                    <module>Egrove_Amex</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amex_setup>
            <amex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </amex_write>
            <amex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </amex_read>
        </resources>
	<blocks>
            <amex>
                <class>Egrove_Amex_Block</class>
	    </amex>
        </blocks>
        <helpers>
            <amex>
                <class>Egrove_Amex_Helper</class>
	    </amex>
        </helpers>
    </global>
    <default>
        <payment>
            <amex>
                <active>1</active>
                <model>amex/amex</model>
		<useccv>1</useccv>
                <order_status>processing</order_status>
                <title>Amex (American Express)</title>
	    </amex>
         </payment>
    </default>
</config>