<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ant_Special>
            <version>0.1.0</version>
        </Ant_Special>
    </modules>
    <frontend>
        <routers>
            <special>
                <use>standard</use>
                <args>
                    <module>Ant_Special</module>
                    <frontName>special</frontName>
                </args>
            </special>
        </routers>       
        <layout>
            <updates>
                <special>
                    <file>special.xml</file>
                </special>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <special>
                <class>Ant_Special_Model</class>
            </special>
        </models>
        <blocks>
            <special>
                <class>Ant_Special_Block</class>
            </special>
        </blocks>
        <resources>
            <special_setup>
                <setup>
                    <module>Ant_Special</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </special_setup>
            <special_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </special_write>
            <special_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </special_read>
        </resources>    
        <template>
            <email>
                <special_email_template_piscean module="Ant_Special">
                    <label>Piscean</label>
                    <file>edm/piscean.html</file>
                    <type>html</type>
                </special_email_template_piscean>
				<special_email_template_aries module="Ant_Special">
                    <label>Aries</label>
                    <file>edm/aries.html</file>
                    <type>html</type>
                </special_email_template_aries>
            </email>
        </template>
    </global>
</config>