<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ant_Dynamic>
            <version>0.1.0</version>
        </Ant_Dynamic>
    </modules>
    <frontend>
        <routers>
            <dynamic>
                <use>standard</use>
                <args>
                    <module>Ant_Dynamic</module>
                    <frontName>dynamic</frontName>
                </args>
            </dynamic>
        </routers>       
        <layout>
            <updates>
                <dynamic>
                    <file>dynamic.xml</file>
                </dynamic>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <dynamic>
                <class>Ant_Dynamic_Model</class>
            </dynamic>
        </models>
        <blocks>
            <dynamic>
                <class>Ant_Dynamic_Block</class>
            </dynamic>
        </blocks>
        <resources>
            <dynamic_setup>
                <setup>
                    <module>Ant_Dynamic</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dynamic_setup>
            <dynamic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dynamic_write>
            <dynamic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dynamic_read>
        </resources>
    </global>
    <default>
        <payment>
            <dynamic>
                <active>0</active>
                <model>dynamic/paymentLogic</model>
                <order_status>pending</order_status>
                <title>Dynamic</title>                
                <allowspecific>0</allowspecific>
                <disable_front_end>1</disable_front_end>
            </dynamic>
        </payment>
    </default>
</config>